<h2> Search </h2>
<%= form_tag(projects_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Find a User" %>
<%= submit_tag "Search" %>
<% end %>
